footer {
    position: fixed;
    /*background-color: #fde6e2;*/
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    text-align: right;
}

footer img {
    padding: 12px 0;
    margin-left: 10px;
}

#greps-logo {
    height: 45px;
    margin-right: 10px;
}

#kadena-logo {
    width: 40px;
    margin-right: 30px;
}